form.signup,
form.login {
  margin-top: 50px;
}

.logo {
  max-width: 40px;
}

.bannerlogo {
  max-width: 100%;
}

.card-header {
  background-color: rgb(255, 196, 0);
  font-family: impact, charcoal, sans-serif;
}
/* fix this garbage later */
#headerName:hover {
  text-decoration: none;
  background-color: white;
}

li {
  list-style-type: none;
}