form.signup,
form.login {
  margin-top: 50px;
}

.logo {
  max-width: 40px;
}

.bannerlogo {
  max-width: 100%;
}

.card-header {
  background-color: transparent;
  font-family: impact, charcoal, sans-serif;
}
/* fix this garbage later */
#headerName:hover {
  text-decoration: none;
  background-color: white;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 15px;
}

.col-sm-12 {
  margin-bottom: 15px;
  background-image: url(assets/Honeycomb.png);
  border-radius: 15px;
  border:3px solid #ccc;
  border-bottom:4px solid rgba(187, 187, 187, 0.699);
  border-top:3px solid rgba(221, 221, 221, 0.719);
}

.addBtn {
  margin-bottom: 15px;
  position: relative;
  left: 20px;
  bottom: 3px;
}

.oneOfUs {
  background-image: url("assets/cheers.png");
  background-size: cover;
  resize: both;
  overflow: scroll;
}

.formBackground {
  margin-top: 50px;
  background-color: rgba(245, 245, 245, 0.883);
}