form.signup,
form.login {
  margin-top: 50px;
}

.logo {
  max-width: 40px;
}

.bannerlogo {
  max-width: 100%;
}

.headerFont {
  background-color: transparent;
  font-family: impact, charcoal, sans-serif;
}

#headerName {
  border: solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.733);
}

/* fix this garbage later */
#headerName:hover {
  text-decoration: none;
  background-color: white;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 15px;
}

.col-sm-12 {
  margin-bottom: 15px;
  background-image: url(assets/Honeycomb.png);
  border-radius: 15px;
  border:3px solid #ccc;
  border-bottom:4px solid rgba(187, 187, 187, 0.699);
  border-top:3px solid rgba(221, 221, 221, 0.719);
}

.addBtn {
  margin-bottom: 15px;
  position: relative;
  left: 20px;
  bottom: 3px;
}

.oneOfUs {
  background-image: url("assets/cheers.png");
  background-size: cover;
  resize: both;
  overflow: scroll;
}

.formBackground {
  margin-top: 50px;
  background-color: rgba(245, 245, 245, 0.883);
}

.show {
  border-radius: 10px;
}

/* .pull-right {
  position:absolute;
  right: 5%;
} */

#email-input,
#password-input {
  max-width: 170px;
}

.navbar-light {
  background: white;
}

#navBackgroundClear {
  background-image: none;
  background: transparent !important;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px;
  color: black;  
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}

.userBackground {
  background-color: rgba(255, 255, 255, 0.733);
  border-style: solid;
  border-radius: 5px;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px; */
  margin: 20px;
  padding: 5px;
}
